header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 25px;
  align-items: end;
  border-bottom: .3rem solid darkgrey;
}

h1 {
  grid-column: 1/span 2;
  margin-left: 2rem;
  color: black;
}

nav {
  grid-column: 5/ span 2;
}

nav a {
  text-decoration: none;
  color: orange;
  font-size: 42px;
}
